 
.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 70px 20px 15px; */
  box-shadow: rgba(133, 132, 132, 0.5) 0px 3px 5px;
}
.logo-container{
  width: 400px;
  margin-right: 150px;
}
.logo{
  width: 100%;
  padding-left: 30px;
  padding-right: 100px;
  object-fit: contain;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 7rem;
  padding-top: 60px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.navbar-links a:hover {
  color: #eb58cb;
}

button{
  position: relative; 
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button img{
  width: 30px;
  height: 30px;
}
button p{
  color: #eb58cb;
}
.cartwidget{
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  text-decoration: none;

}
.cartwidget .icon-cartwidget{
  font-size: 30px;
  color: #000000;
}
.cartwidget .number-cartwidget{
  padding: 0 10px;
  color: #eb58cb;

  
}